


<%=form_tag search_user_tasks_path, method: :get, remote: true, id: 'new_search' do%>
  <%= text_field_tag :search, nil, placeholder: "Search"%>
  <%=submit_tag "Search"%>
<%end%>

<%if current_user.tasks.count <= 5 || current_user.premium?%>
<%= link_to "new task", new_user_task_path(current_user), id:'new_link', remote: true %>
<%else%>
<%= link_to "Become a premium member and create unlimited tasks", new_user_task_path(current_user)%>
<%end%>









	<% @tasks.each do |task| %>
	<h4>Task: <%=task.task %><br></h4>
	<h4>Remarks: <%=task.remarks %><br></h4>	
	<h4>Start Date: <%=task.start_date %><br></h4>
	<h4>End Date: <%=task.end_date %><br></h4>	
	<h4>Status: <%=task.status %><br></h4>

	<%=link_to "show", user_task_path(current_user,task) %>
	<%=link_to "edit", edit_user_task_path(current_user,task)%>
	<%=button_to "delete", user_task_path(current_user,task), remote: true, method: :delete %>
	


	
<%end%>
<%=link_to "home", root_path %>
